.generateRecipe{
    width: 40%;
    padding: 1rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
      
}
.inputGenerate{

    background-color: #E7D7A4;
    opacity: 0.95;
    padding: 1rem;
    width: 100%;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input{
    all: unset;
    color:#A51F1F ;
    box-sizing: border-box;
    padding: 0.25rem;

    width: 100%;

    background-color: #ada074;
    border-radius: 0.25rem ;
    

    text-align: center;
}
.input:hover{
    background-color: #E7D7A4;

}
input::placeholder{
    color: #A51F1F;
}

.button{
    all: unset;
    color: #A51F1F;
    margin-top: 1rem;
    padding: 0.25rem;

    width: fit-content;    

    background-color: #ada074;
    border-radius: 0.25rem ;
    cursor: pointer;

    text-align: center;
}
button:hover{
    background-color: #A51F1F; /* Cor de fundo ao passar o mouse */
    color: #E7D7A4;   
}

.notebook{

    background-color: #E7D7A4;
    opacity: 0.95;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    border-radius: 15px;
      
}

.recipeContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.recipe-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.img-content{   
    color: white;
    padding: 0.25rem;
    margin: 1rem;
    border-radius: 15px;
    max-width: 150px;
    max-height: 150px;

    background-color: black;
}
.text-content{
    padding: 0.25rem;
    margin: 0.25rem;
}



