.side-bar-background{
    background-color: #E7D7A4; 
    height: 100%;
    max-width: 350px;
    opacity:0.95;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.side-bar-title{
    color:#A51F1F;
    height: 80px;
    
    max-width: 250px;
    font-size:27px;
    padding:1rem;
    margin:1rem;
}